body {
    margin: 5px;
    font-family: sans-serif;
    background-color: #22222c;
}

.albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.album {
    position: relative;
    background-color: #303039;
    cursor: pointer;
}
.album .background {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    object-fit: cover;
    display: block;
}
.album .meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.69);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.album .meta h2 {
    margin: 0;
    font-size: 1.2em;
}
.album .meta p {
    margin: 0;
    font-size: 0.8em;
}


.add {
    font-size: 25px;
    color: #fff;
    background-color: #303039;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.add:before {
    line-height: 1.5em;
}